iso8601
PyYAML
pytest
#Sphinx
pystache
pybars3
bottle
requests
netifaces==0.10.9
pymongo
pip_services3_commons
pip_services3_components
pip_services3_rpc
pip_services3_container
pip_services3_data
pip_services3_mongodb


