/.idea
/.vscode
/data/config.json
/data/config.yml
/data/dummies.json
/build
/pip_beacons_sample_python.egg-info
/dist
.DS_Store
*.pyc
*.pyo
env
env*
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.pytest_cache/